{% extends "./base.html" %}
{% block title %} Hipbar admin - Home {% endblock %}
{% block style %}
<style media="screen">
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  a {
    text-decoration: none;
  }
</style>
{% endblock %}
{% block body %}
<div id="app"></div>
<div id="display-screen"></div>
{% endblock %}
{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpG-NeL-XGYAduQul2JenVr86HIPITEso&sensor=false&libraries=geometry,drawing&ext=.js" charset="utf-8"></script>
<script src="/cdn/home.build.js" async="true" charset="utf-8"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link rel="stylesheet" href="/cdn/home.build.css">
{% endblock %}
