.app-bar {
  position: fixed !important;
  left: 0;
  top: 0;

  h1 {
    font-size: 18px !important;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 1441px) {
  .app-bar {
    padding-left: calc((100% - 1440px) / 2) !important;
    padding-right: calc((100% - 1440px) / 2) !important;
  }
}
