.form-group {
  margin-top: 20px;
  hr {
    border-bottom-color: #9b9b9b !important;
  }
}

.form-group > div {
  width: 100% !important;
}
.label {
  color: #9b9b9b;
}

.error {
  color: #ff3b34;
  font-style: italic;
}
