.pagination {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  margin-top: 20px;

  li {
    cursor: pointer;
    font-size: 16px;
    list-style-type: none;
    display: inline-block;
    border: 1px solid #4fbad1;
    border-right: 0;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background: #fff;

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-right: 1px solid #4fbad1;
    }
    &.active, &:hover {
      background: #4fbad1;
      a {
        color: #fff;
      }
    }
    a {
      color: #4fbad1;
      text-decoration: none;
    }
  }
}
