/**
 * # Notifications
 */

 .notification {
  /* box-sizing: border-box; */
    position: fixed;
    top: 70px;
    right: -353px;
    padding: 20px;
    // padding-left: 0px;
    min-width: 300px;
    max-width: 420px;
    /* z-index: 0; */
    border-radius: 2px;
    /* text-align: left; */
    z-index: 2;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 #9b9b9b;


  text-align: left;
  color: #fff;
  font-weight: bold;

  // span style for icon
  & > span.fa  {
    position: absolute;
    left: 20px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 100%;
    text-align: center;
  }
}

.notification {
  border: 1px solid;
  &.default {
    background: #cce5ff;
    border-color: #b8daff;
    color: #004085;
    span {
      svg {
        fill: #fff;
      }
    }
  }

  &.success {
    border-color: #c3e6cb;
    background: #d4edda;
    color: #155724;
    span {
      svg {
        fill: #155724;
      }
    }
  }

  &.warning {
    border-color: #ffeeba;
    background: #fff3cd;
    color: #856404;
    span {
      svg {
        fill: #856404;
      }
    }
  }
  span {
    vertical-align: top;
    display: inline-block;
    // padding-left: 20px;
  }
}

.notification .btn-undo {
  display: block;
  margin-top: 10px;
  height: 28px;
  width: 60px;
}

// @media (max-width: $screen-xs-max) {
//   .notification {
//     right: -360px;
//     max-width: 280px;
//   }
// }
